body{
  background-image: url("https://wallpapercave.com/wp/wp4222695.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: white;
}
.user-info{
  float: left;
  margin-left: 8%;
  position: fixed
}
.user-output{
  border: 10%;
  position: relative;
  margin-left: 8%;
}
.jumbotron{
  margin-top:2%;
  background-image: url("https://cdn.hswstatic.com/gif/planet-order.jpg")
}
